* {
    box-sizing: border-box;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
    padding: 0;
    margin: 0;
}

.intro {
    background-color: black;
    color: #FFFFFF;
    height: calc(118vh - 98px);
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}
.intro--right, .intro--left {

    display: inline-block;
    position: relative;
    top: 35%;
}

.intro--name {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

.intro--occupation {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 15px;
    left:265px;
}

.intro--btn {
    /* color: #FFFFFF; */
    background-color: black;
    border-color: grey;
    position: relative;
    width: 250px;
    top: 10px;
}

.intro--name, .intro--btn {
    left: 200px;
}


.intro--college {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: white;
    margin-left: 30px;
}

.intro--degree {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: white;
 
}
.intro--college, .intro--degree {
    left: 180%;
}

.intro--btn > a {
    color: #FFFFFF;
}

.projects {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -30px;
    background-color: rgb(245, 191, 66);
    height: calc(100vh - 100px);

    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.projects--proj1, .projects--proj2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: 10px;
    text-align: center;
}


/* .projects--proj1, .projects--proj2, .projects--proj3 {
    border: 5px solid black;
} */


.seflie {
    position:absolute;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    top:50px;
    left:50%; 
}

.ohio {
    max-width: 101%;
    max-height: 100%;
    height: auto;
    /* margin-left: -10px; */
    z-index: -2;
    
}

.aboutMe {
    position: relative;
}

.footer {
    text-align: center;
} 

#intro--quote {
    position: relative;
    top:120px;
    font-size: 10px;
    left: 30%;

}

@media only screen and (max-width: 600px) {
    .intro--college, .intro--degree {
        display: none;
    }
 
    .intro--left {
        left:-10px;
    }
 
    .seflie {
     position:absolute;
     width:50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     z-index: 1;
     top:50px;
     left:50%;
     }
 
     .intro--quote {
         position: relative;
         /* display: flex; */
         /* justify-content: flex-start; */

         /* font-size: 10px; */
         /* top:500px; */
         /* display: none; */
     }
 
 }


